@model Klarna.Payments.Models.IKlarnaClientSession

<div id="klarna_container"></div>

<script>
    (function () {
        var klarnaData = {
            klarna_container: "#klarna_container",
            client_token: '@Model.ClientToken'
        };

        // Register callback function to be executed after initial load
        window.klarnaAsyncCallback = function () {
            KlarnaCheckout.load(klarnaData);
        };

        // Only call this if jQuery/Klarna/KlarnaCheckout has been loaded already
        if (window.jQuery && window.Klarna && window.KlarnaCheckout) {
            KlarnaCheckout.load(klarnaData);
        }
    })();
</script>