@model Klarna.Payments.Models.IKlarnaClientSession

<div id="klarna_container"></div>

<script>
    // Register callback function to be executed after initial load
    window.klarnaAsyncCallback = function () {
        console.log("window.klarnaAsyncCallback load");
        $(document)
            .trigger('klarna:load', {
                klarna_container: "#klarna_container",
                client_token: '@Model.ClientToken'
            });
    };


    // Only call this if jQuery has been loaded already
    if (window.jQuery) {
        console.log("window.jQuery load");
        window.jQuery(document)
            .trigger('klarna:load',
            {
                klarna_container: "#klarna_container",
                client_token: '@Model.ClientToken'
            });
    }
</script>