@model Klarna.Payments.Models.IKlarnaClientSession


<div id="klarna_container"></div>

<script>
    window.klarnaAsyncCallback = function() {

        window.Klarna.Episerver = { SessionId: "@Model.SessionId" };

        Klarna.Credit.init({
            client_token: '@Model.ClientToken'
        });
        Klarna.Credit.load({
            container: "#klarna_container"
        }, function (result) {
            console.debug(result);
            if(result && result.show_form) {
                // TODO Check for errors, diplay errors
            } else {
                // TODO Do not display form
            }
        });
    };
</script>
<script src="https://credit.klarnacdn.net/lib/v1/api.js" async></script>