@model Foundation.Features.NamedCarts.DefaultCart.KlarnaExpressButtonViewModel

<script src='https://x.klarnacdn.net/express-button/v1/lib.js'
        data-id='@Model.Mid'
        data-environment='playground'
        async></script>

<div class="row">
    <div class="col-12">
        <klarna-express-button data-locale="@Model.Locale" data-theme="@Model.Theme" />
    </div>
</div>

<script>
    window.klarnaExpressButtonAsyncCallback = function () {
        Klarna.ExpressButton.on('user-authenticated', function (callbackData) {
            console.log(callbackData);

            var klarnaAuthenticatedPromise = $.ajax({
                type: 'POST',
                url: '/klarnaapi/express/authenticated',
                data: callbackData
            }).then(function (data) { console.log(data); return data; });
        });
    }
</script>